{% extends "base.html" %}

{% block title %}Oceny{% endblock %}

{% block content %}
    <h1>Oceny</h1>

    <div class="table-grades">

        <table style="width:80%">
            <tr>
                <th>Oceniany element</th>
                <th>Waga</th>
                <th>Punkty</th>
                <th>Zakres</th>
                <th>Procentowo</th>
            </tr>
            {% for grade in grades %}
                <tr>
                    <td>{{grade.0}}</td>
                    <td>{{grade.1}}</td>
                    {% if grade.2 != None %}
                        <td>{{grade.2}}</td>
                        <td>0-{{grade.3}}</td>
                        <td>{{grade.4}}%</td>
                    {% else %}
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    {% endif %}
                </tr>
            {% endfor %}
            <tr>
                <td>Ocena końcowa</td>
                <td>-</td>
                <td>{{overall}}%</td>
                <td>-</td>
                <td>{{overall}}%</td>
            </tr>
        
        </table>
    </div>
     
{% endblock %} 