{% extends "base.html" %}
{% load course %}
{% block title %}
    {{ course.id }}

{% endblock %}

{% block content %}
    <div class='students-list'>
        <p>Lista studentów uczestniczących w kursie:</p>
        <ul>
            {% for student in object_list %}
                <li>{{ forloop.counter }}. {{ student.first_name }} {{ student.last_name }} 
                <a href="{% url "teacher_student_course_grades" course.id student.id %}">Oceny</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}