{% load static %}
{% load course %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}Platforma edukacyjna{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <a href="/" class="logo">Platforma edukacyjna</a>
    <div class="menu">
      <div><a href="/">Wszystkie kursy</a></div>
      {% if request.user.is_authenticated %}
      <div><a href="{% url "profile" %}">Profil</a></div>
        {% if request.user|has_group:"Instructors" %}
        <div><a href="{% url "manage_course_list" %}">Moje kursy</a></div>
        {% else %}
        <div><a href="{% url "student_course_list" %}">Moje kursy</a></div>
        {% endif %}
       
        <div><a href="{% url "logout" %}">Wyloguj</a></div>
      {% else %}
        <div><a href="{% url "login" %}">Zaloguj</a></div>
      {% endif %}

      
    </div>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script>
    $(document).ready(function() {
      {% block domready %}
      {% endblock %}
    });
  </script>
</body>
</html>